PORT=8081
NODE_ENV=development

# AstraDB credentials
ASTRA_DB_TOKEN=AstraCS:YOUR_TOKEN_HERE
ASTRA_DB_ENDPOINT=https://4a91d4fc-0ecc-48c1-97b0-b0d051f89d1c-us-central1.apps.astra-dev.datastax.com
ASTRA_DB_KEYSPACE=default_keyspace
